:root {
  --bg-color: rgb(207, 207, 207);
  --X-color: red;
  --text: black;
  --menu-bg-color: radial-gradient(circle, #187566, #9ae7d5);
  --btntext: white;
  --main-color: #187566;
  --secondary:#62ac66;
  --btnhover: invert(17%) contrast(121%);
}

.dark-mode:root{
  --bg-color: rgb(37, 37, 37);
  --menubar-color: white;
  --X-color: brown;
  --text: white;
  --menu-bg-color: radial-gradient(circle, #4a54a8, #232858);
  --task-menu: rgba(143, 63, 9, 0.452);
  --main-color: #4a54a8;
  --secondary:#1a1f52;
  --btnhover: invert(17%) contrast(121%);
}

body{
  background-color: var(--bg-color);
}

nav {
  padding-top: 15px;
  padding-left: 15px;
  width: 50px;
  cursor: pointer;
  position: fixed;
  z-index: 2;
}

/* Menu  and  X */
.menubar {
  height: 5px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}

.menu {
  display: none;
  padding: 0;
  transition: 0.3s ease;
}

.menu li {
  padding: 10px 0;
  list-style: none;
}

.menu li a {
  color: white;
  font-size: 22.5px;
  text-decoration: none;
}

.menu li a:hover {
font-weight: bold;
color: white;
}

.menu-bg {
  z-index: 1;
  background: var(--menu-bg-color);
  border-radius: 50%;
  transition: 0.2s ease;
  backdrop-filter: blur(1.5px);
  position: fixed;
}

.change-bg {
  width: 660px;
  height: 540px;
  transform: translate(-60%, -30%);
}

.change .bar {
  background-color: white;
}

/* remove bar 2 */
.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}

/* X bar */
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
  background-color: var(--X-color);
}
/* X bar */
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
  background-color: var(--X-color);
}
/* Menu -end*/

/*App body*/
.app{
  position:absolute;
  top:15%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 70px;
}

.tasks{
  color: var(--text);
  background-color: var(--secondary);
  padding: 10px;
}

.btn-newTask{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

button#newtask{
  position:absolute;
  top:96%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 70px;
  font-size: larger;
  background: var(--main-color);
  color: var(--btntext);
}

button#newtask:hover {
  filter: var(--btnhover);
}

.task-window
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 20px;
  width: 90%;
  display:none;
  backdrop-filter: blur(12.0px);
}

.optionsTask{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.infoTask{
  justify-content: space-between;
  align-items: left;
  text-align: left;
  padding: 10px;
}

.inputbox{
  position: relative;
}

.task-name{
  border-bottom: 1px solid;
  outline: none;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
  padding: 5px;
}

#task-date{
  padding: 8px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}

label{
color: rgb(255, 255, 255);
font-size: large;
}

button#cancel-task,
button#create-task
{
  width: 42%;
  padding: 15px;
  border-radius: 10px;
  font-size: 25px;
  color: rgb(54, 41, 41);
  cursor: pointer;
  text-align: center;
  
}